[submodule "src/package"]
	path = src/package
	url = https://github.com/TKUhumanoid/motionpackage_submodule.git
[submodule "interface"]
	path = interface
	url = https://github.com/TKUhumanoid/interface.git
